.box1{
    width: 360px;
    height: auto;
    margin-left: 100px;
}
.postdiv{
    height: 7.6rem;
    background-color: white;
    width: 36.8rem;
    border-radius: 10px; 
    margin-top: 10px;
    
}
.lines{
    border: 0.1px solid gray;
}
.post {
    height: 500px;
    width: 36.8rem;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.profile{
    border: 0.5px  solid rgb(222, 211, 211);
}

@media screen and (max-width:650px) {
    .postdiv{
        width: 31rem;
    }
    .post{
        width: 31rem;
      height: 400px;  
    }
}


@media screen and (max-width:600px) {
    .postdiv{
        width: 29.5rem;
    }
    .post{
        width: 29.5rem;
        height: 350px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:520px) {
    .postdiv{
        width: 27.5rem;
    }
    .post{
        width: 27.5rem;
        height: 330px;
    }
}

@media screen and (max-width:480px) {
    .postdiv{
        width: 26rem;
    }
    .post{
        width: 26rem;
        height: 310px;
    }
}

@media screen and (max-width:450px) {
    .postdiv{
        width: 21rem;
    }
    .post{
        width: 21rem;
    }
}

@media screen and (max-width:400px) {
    .postdiv{
        width: 19rem;
    }
    .post{
        width: 19rem;
    }
}
@media screen and (max-width:350px) {
    .postdiv{
        width: 17rem;
    }
    .post{
        width: 17rem;
    }
}
@media screen and (max-width:300px) {
    .postdiv{
        width: 15rem;
    }
    .post{
        width: 15rem;
    }
}
