@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-reg-comp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.input-box-1-register-comp{
    width: 24.9375rem;
    height: 3.125rem;
}
.register-comp-inp{
    width: 12.125rem;
    height: 2.5rem;
    padding: 0.6875rem;
    border:1px solid #CCD0D5;
    background-color: #F5F6F7;
    outline: none;
    border-radius: 4px;
}
.register-comp-inp-2{
    width: 24.93rem;
    height: 2.5rem;
    padding: 0.6875rem;
    margin-bottom: 10px;
    border:1px solid #CCD0D5;
    background-color: #F5F6F7;
    outline: none;
    border-radius: 4px;
}
.reg-part-2-p{
font-size: 13px;
margin-top: 5px;
margin-right: 1px;
color: #606770;
}
.reg-comp-icon{
    font-size: 13px;
    margin-top: 5px;
/* margin-right: 1px; */
color: #606770;
}
.selector-reg-comp{
    width: 7.81rem;
    height: 2.25rem;
    border:1px solid #CCD0D5;
    border-radius: 4px;
    outline: none;
}
.gender-reg-comp{
    width: 8.017rem;
    height: 2.25rem;
    border:1px solid #CCD0D5;
    border-radius: 4px;
    outline: none;
    padding: 0 28px 0 10px;
}
.label-reg-comp{
    width: 8.01rem;
    height: 2.25rem;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.text-reg-comp{
    font-size: 10.5px;
    color: #606770;
}
.reg-comp-btn{
    background-color: #00A400;
    width: 194px;
    height: 36px;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    
}

